<mat-expansion-panel *ngFor="let week of cantWeeks" class="fadeIn">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ week }} 
      </mat-panel-title>
      <!-- <mat-panel-description>
        This is a summary of the content
      </mat-panel-description> -->
    </mat-expansion-panel-header>

    <div class="container-date">

        

    <form [formGroup]="formMenu" id="myform" #f="ngForm">
        <span>Desde: </span>
        <mat-form-field appearance="standard" #dateStart>
            <mat-label>Fecha desde</mat-label>
            <input type="text" matInput formControlName="dateStart"
                [matDatepicker]="pickerdateStart" (dateChange)="onChangeDateStart($event)"
                (click)="pickerdateStart.open()" name="dateStart" id="dateStart"
                placeholder="Seleccione fecha de desde" required />
            <mat-datepicker-toggle matSuffix [for]="pickerdateStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerdateStart></mat-datepicker>
            <mat-hint *ngIf="formMenu!.controls['dateStart']!.touched && formMenu!.controls['dateStart']!.invalid"
                class="error-input">
                Este campo es requerido</mat-hint>
        </mat-form-field>

        <span>Hasta: </span>

        <mat-form-field appearance="standard" #dateEnd>
            <mat-label>Fecha hasta</mat-label>
            <input type="text" matInput [matDatepicker]="pickerdateEnd" [min]="minDateEnd"
                (click)="pickerdateEnd.open()" formControlName="dateEnd"
                name="dateEnd" id="dateEnd" placeholder="Seleccione fecha hasta" required />
            <mat-datepicker-toggle matSuffix [for]="pickerdateEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerdateEnd></mat-datepicker>
            <mat-hint *ngIf="formMenu!.controls['dateEnd']!.touched && formMenu!.controls['dateEnd']!.invalid"
                class="error-input">
                Este campo es requerido</mat-hint>
        </mat-form-field>
        
    </form>
</div>

<app-categories [listCategories]="listCategories"></app-categories>

  </mat-expansion-panel>