<div class="container-week">
<form [formGroup]="range" id="range" #f="ngForm">
<span>Ingrese las fechas del mes que desa cargar: </span>

<mat-form-field appearance="fill">
  <mat-label>Ingrese el rango de fechas</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Desde">
    <input matEndDate formControlName="end" placeholder="Hasta">
  </mat-date-range-input>
  <mat-hint>DD/MM/AAAA – DD/MM/AAAA</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  <mat-error *ngIf="range.controls['start'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
  <mat-error *ngIf="range.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
</mat-form-field>

<!--<p>Selected range: {{(range.value.end  - range.value.start) | date: 'dd/MM'}}</p>

 <mat-form-field appearance="standard" #weeks>
    <mat-label>Cantidad</mat-label>
    <input type="number" matInput formControlName="weeks" name="weeks"
        id="weeks" #weeks placeholder="Ingrese cantidad de semanas" required />
    <mat-hint *ngIf="formWeeks!.controls['weeks']!.touched && formWeeks!.controls['weeks']!.invalid"
        class="error-input">
        Requerido</mat-hint>
</mat-form-field> -->
<button mat-raised-button color="primary" (click)="onClickWeeks()" type="submit" class="btn-primary btn-azul"
[disabled]="range.status == 'INVALID'">
<mat-icon>check</mat-icon> Ok
</button>
</form>
</div>

<div class="fadeInDown" >
    
  <!-- <app-week [cantWeeks]="WEEKDAY"></app-week> -->
  <app-categories *ngIf="viewCategories" [listCategories]="listCategories" [rangeOfDate]="range"></app-categories>
  
</div>


<!--  -->

