<div class="container-fluid">

  <div class="button-container">
    <button mat-raised-button (click)="onClickListAllMenus()" class="button">
      Listar menús
    </button>
    <button mat-raised-button (click)="onClickCalendar()" class="button">
      Ver Calendario
    </button>
    <button mat-raised-button (click)="onClickEdit()" class="button">
      Editar día
    </button>
    <button mat-raised-button (click)="onClickAdd()" class="button">
      Agregar
    </button>


  </div>

  <div class="container-week" *ngIf="chargeMenu">
    <form [formGroup]="range" id="range" #f="ngForm">
      <span>Ingrese las fechas del mes que desa cargar: </span>

      <mat-form-field appearance="fill">
        <mat-label>Ingrese el rango de fechas</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Desde">
          <input matEndDate formControlName="end" placeholder="Hasta">
        </mat-date-range-input>
        <mat-hint>DD/MM/AAAA – DD/MM/AAAA</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <button mat-raised-button (click)="onClickWeeks()" type="submit"
      [disabled]="range.status == 'INVALID'">
        <mat-icon>check</mat-icon> Ok
      </button>
      <mat-error *ngIf="range.controls['start'].hasError('matStartDateInvalid') || range.controls['end'].hasError('matEndDateInvalid')">Rango de fecha inválido</mat-error>

      <div *ngIf="!validDateMenu">
      <mat-error>Se encontraron platos asignados a los días ingresados</mat-error>
      </div>
      <div *ngIf="eventsMenu.length > 1">
        <div class="fullCalendarContainer">
          <h1>Calendario de menús</h1>
          <div class="calendarMenu">
            <app-calendar-menu [events]="eventsMenu"
              (selectMenu)="onViewMenu($event)"></app-calendar-menu>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="listMenu">
    <h2>Acciones</h2>
    <app-list-menu [dataSource]="dataSource" 
      (menuId)="onViewMenu($event)"
      (deleteMenu)="deleteMenu($event)">
    </app-list-menu>
  </div>

  <div *ngIf="viewCalendarFood&&eventsFood.length > 1">
    <div class="fullCalendarContainer">
      <h1>Calendario</h1>
      <div class="calendarMenu">
        <app-calendar-food [events]="eventsFood"
          (selectMenu)="onViewMenu($event)"></app-calendar-food>
      </div>
    </div>
  </div>

  <hr>
  <div class="fadeInDown" >
    <app-categories *ngIf="viewCategories" 
      [dateStart]="dateStart"
      [dateEnd]="dateEnd"
      [daysOfMonth]="daysOfMonth"
      (finishAddMenu)="redirectToList($event)">
    </app-categories>
  </div>
</div>


