<div class="container-fluid">
  <div > 
  <h1  class="title-component">Listado de Clientes</h1>
  <mat-form-field appearance="standard">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="onSearch($event)" placeholder="" #input>
  </mat-form-field>

  <div class="table-width-client">
    <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8" [hidden]="viewOrdersClient" matSort>

      <colgroup>
        <col style="width:'6%'" />
        <col style="width:'16%'" />
        <col style="width:'10%'" />
        <col style="width:'20%'" />
        <col style="width:'17%'" />
        <col style="width:'8%'" />
        <col style="width:'23%'" />
      </colgroup>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden"> Nombre y Apellido</th>
        <td mat-cell *matCellDef="let element" class="hidden" #tooltip="matTooltip"
          [matTooltip]="element.name+' '+element.lastName" matTooltipPosition="below"> {{element.name}}
          {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="phonePrimary">
        <th mat-header-cell *matHeaderCellDef  class="hidden"> Teléfono </th>
        <td mat-cell *matCellDef="let element" class="hidden"> {{element.phonePrimary}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="phoneSecondary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden"> Teléfono sec </th>
        <td mat-cell *matCellDef="let element" class="hidden"> {{element.phoneSecondary}} </td>
      </ng-container> -->

      <!-- <ng-container matColumnDef="bornDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden"> Fecha de nacimiento</th>
        <td mat-cell *matCellDef="let element" class="hidden"> {{element.bornDate | date: 'dd/MM/yyyy'}} </td>
      </ng-container> -->

      <!-- <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden"> Email </th>
        <td mat-cell *matCellDef="let element" class="hidden" #tooltip="matTooltip" [matTooltip]="element.email"
          matTooltipPosition="below"> {{element.email}} </td>
      </ng-container> -->

      <ng-container matColumnDef="observation">
        <th mat-header-cell *matHeaderCellDef class="hidden"> Observacion </th>
        <td mat-cell *matCellDef="let element" class="hidden" #tooltip="matTooltip" [matTooltip]="element.observation"
          matTooltipPosition="below"> {{element.observation}} </td>
      </ng-container>

      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef class="hidden"> Nota </th>
        <td mat-cell *matCellDef="let element" class="hidden" #tooltip="matTooltip" [matTooltip]="element.note.note"
          matTooltipPosition="below"> {{element.note.note}} </td>
      </ng-container>

      <ng-container matColumnDef="pathologies">
        <th mat-header-cell *matHeaderCellDef class="hidden"> Patologías </th>
        <td mat-cell *matCellDef="let element" class="hidden">
          <span *ngFor="let pat of element.pathologies">
            <mat-icon *ngIf="pat.checked" [style]="{'color': pat.color}" #tooltip="matTooltip"
              [matTooltip]="pat.description" matTooltipPosition="below">fiber_manual_record</mat-icon>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element" class="actions-button-container">
          <button mat-stroked-button class="button" (click)="onClickShowOrders(element)" title="Ver pedidos">
            <mat-icon>list_alt</mat-icon>
          </button>
          <button mat-stroked-button class="button" (click)="onClickNote(element)" title="Notas">
            <mat-icon>note_alt</mat-icon>
          </button>
          <!-- <button mat-stroked-button class="button" (click)="onViewProfile(element)" title="Ver perfil">
            <mat-icon>person</mat-icon>
          </button> -->
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encontró información para "{{input.value}}"</td>
      </tr>
    </table>
    <br>
  </div>
  
  <mat-paginator  [pageSizeOptions]="[10, 20, 30, 50]" showFirstLastButtons></mat-paginator>
  </div>
  
  <div *ngIf="viewOrdersClient" class="button-container">
    <button mat-raised-button class="button" (click)="onClickBack()" class="button" title="Volver">Volver
    </button>
    <app-inicio-orders [clientSelected]="clientSelected"></app-inicio-orders>
  </div>

</div>