<div class="container-fluid">
  <div class="button-container">
    <button mat-raised-button (click)="onClickAdd()" class="button">
      Agregar
    </button>
  </div>

  <mat-form-field appearance="standard">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="onSearch($event)" placeholder="" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
      <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden"> Nombre </th>
      <td mat-cell *matCellDef="let element" class="hidden"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden"> Apellido </th>
      <td mat-cell *matCellDef="let element" class="hidden"> {{element.lastName}} </td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button class="button" (click)="onClickEdit(element)">Editar</button>
        &nbsp;
        <button mat-raised-button class="button" (click)="onClickDelete(element)">Borrar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No se encontró información para "{{input.value}}"</td>
    </tr>
  </table>
  <br>
  <mat-paginator [pageSizeOptions]="[  3 , 10 , 20]" showFirstLastButtons></mat-paginator>
</div>