<div *ngFor="let category of categories">
<mat-card class="card" [style]="{'border-right': '10px solid'+category.color}" [ngStyle]="(isSelectedCategory(category)) ? {'backgroundColor':'#d3d3d33b'} : {}">
    <mat-card-header (click)="onSelectCategory(category)">
      <div mat-card-avatar class="header-image"> 
        <mat-icon *ngIf="isSelectedCategory(category)" class="check">check_box</mat-icon>
        <mat-icon *ngIf="!isSelectedCategory(category)">check_box_outline_blank</mat-icon>
      </div>
      <mat-card-title> Menú {{category.title}}</mat-card-title>
      <mat-card-subtitle>${{category.price}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <div class="cant" *ngIf="isSelectedCategory(category)">
        <button mat-icon-button aria-label="Clear" (click)="removeFood(category)" class="removeButton" [disabled]="cant < 1">
          <mat-icon>remove</mat-icon>
        </button>
        <span class="center">{{cant}}</span>
        <button mat-icon-button aria-label="Clear" (click)="addFood(category)" [disabled]="cant > 14">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <span class="spacer"></span>

      <button mat-raised-button class="button" (click)="onViewDetailsCategory(category)">Ver detalles</button>
    </mat-card-actions>
  </mat-card>
  
</div>

<mat-card class="card personalize" [ngStyle]="(isSelectedPersonalize()) ? {'backgroundColor':'#d3d3d33b'} : {}">
  <mat-card-header (click)="onSelectPersonalize()">
    <div mat-card-avatar class="header-image"> 
      <mat-icon *ngIf="isSelectedPersonalize()" class="check">check_box</mat-icon>
      <mat-icon *ngIf="!isSelectedPersonalize()">check_box_outline_blank</mat-icon>
    </div>
    <mat-card-title> Menú Personalizado</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-raised-button class="button" (click)="onViewDetailsPersonalize()">Ver detalles</button>
  </mat-card-actions>
</mat-card>
