<mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedIndexMatTab" [selectedIndex]="selectedIndexMatTab">
    <mat-tab *ngFor="let cat of listCategories, let i = index" disabled="true" >
      <ng-template mat-tab-label>
        {{cat.title}}
         <mat-icon class="example-tab-icon" *ngIf="selectedIndexMatTab > i">done_all</mat-icon>
      </ng-template>
      <div>
      </div>
 <app-day  
    [category] = "cat"
    [lastCategory]="listCategories.length == i+1" 
    [daysOfMonth]="daysOfMonth" 
    (daysCharged)="getDays($event)" 
    (finishCharged)="addMenu($event)">
  </app-day>
</mat-tab>
</mat-tab-group>