<h4>{{data.accionFormulario}}</h4>
<mat-dialog-content>

    <form [formGroup]="this.formulario" (ngSubmit)="onClickAceptar()" id="myform" #f="ngForm">
        <input type="hidden" formControlName="id" />

        <mat-form-field appearance="standard" #titulo>
            <mat-label>Titulo</mat-label>
            <input type="text" matInput (focus)="titulo.appearance='outline'" formControlName="titulo" name="titulo"
                id="titulo" #titulo placeholder="Ingrese un titulo" required />
            <mat-hint *ngIf="formulario!.controls['titulo']!.touched && formulario!.controls['titulo']!.invalid"
                class="error-input">
                Este campo es requerido</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="standard" #fechaDesde>
            <mat-label>Fecha desde</mat-label>
            <input type="text" matInput (focus)="fechaDesde.appearance='outline'" formControlName="fechaDesde"
                [matDatepicker]="pickerFechaDesde" (dateChange)="onChangeFechaDesde($event)"
                (click)="pickerFechaDesde.open()" name="fechaDesde" id="fechaDesde"
                placeholder="Seleccione fecha de desde" required />
            <mat-datepicker-toggle matSuffix [for]="pickerFechaDesde"></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaDesde></mat-datepicker>
            <mat-hint *ngIf="formulario!.controls['fechaDesde']!.touched && formulario!.controls['fechaDesde']!.invalid"
                class="error-input">
                Este campo es requerido</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="standard" #fechaHasta>
            <mat-label>Fecha hasta</mat-label>
            <input type="text" matInput [matDatepicker]="pickerFechaHasta" [min]="minDateFechaHasta"
                (click)="pickerFechaHasta.open()" formControlName="fechaHasta" (focus)="fechaHasta.appearance='outline'"
                name="fechaHasta" id="fechaHasta" placeholder="Seleccione fecha hasta" required />
            <mat-datepicker-toggle matSuffix [for]="pickerFechaHasta"></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaHasta></mat-datepicker>
            <mat-hint *ngIf="formulario!.controls['fechaDesde']!.touched && formulario!.controls['fechaDesde']!.invalid"
                class="error-input">
                Este campo es requerido</mat-hint>
        </mat-form-field>

        <div class="inputFile">
            <button type="button" mat-raised-button (click)="fileInput.click()">Subir imagen</button>
            <input hidden #fileInput type="file" id="file">
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-button color="primary" (click)="onClickCancelar()">
        <mat-icon>clear</mat-icon> CANCELAR
    </button>
    <button mat-raised-button color="primary" (click)="onClickAceptar()" type="submit" class="btn-primary btn-azul"
        [disabled]="this.formulario.status == 'INVALID'"
>
        <mat-icon>save</mat-icon> GUARDAR
    </button>

</mat-dialog-actions>