<app-header></app-header>

<div class="container-fluid imagenBody">
	<div class="row flex-xl-nowrap">
		<div class="col-12 col-lg-2"></div>

		<div class="col-12 col-lg-10">
			<div class="row py-4  px-md-4 px-lg-5">
				<div class="col-12 col-xl-9 px-md-0 pe-xl-4">
					<div class="container-carousel">
							<ngb-carousel>
								<ng-template ngbSlide *ngFor="let url of listUrlImage">
									<div class="picsum-img-wrapper">
										<img class="img-carousel" src="{{URLAPI}}/{{url}}"
											alt="Random first slide">
									</div>
									<div class="carousel-caption">
									</div>
									<div></div>
								</ng-template>

								
							</ngb-carousel>
					</div>



					<app-menu [menuViewer]="menuViewer"></app-menu>

					<div class="about-section-box" id="tipos">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12 text-center">
									<div class="inner-column">
										<h1>Menú<span> Proteico</span></h1>
										<h4>Little Story</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor
											suscipit feugiat. Ut at pellentesque ante, sed convallis arcu. Nullam
											facilisis, eros in eleifend luctus, odio ante sodales augue, eget lacinia
											lectus erat et sem. </p>
										<p>Sed semper orci sit amet porta placerat. Etiam quis finibus eros. Sed aliquam
											metus lorem, a pellentesque tellus pretium a. Nulla placerat elit in justo
											vestibulum, et maximus sem pulvinar.</p>

									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<img src="../../../assets/img1.jpg" alt="" class="img-fluid">
								</div>
							</div>
						</div>
					</div>

					<div class="about-section-box" id="tipos">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<img src="../../../assets/img2.jpg" alt="" class="img-fluid">
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 text-end">
									<div class="inner-column der">
										<h1>Menú <span>Veggie</span></h1>
										<h4>Little Story</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor
											suscipit feugiat. Ut at pellentesque ante, sed convallis arcu. Nullam
											facilisis, eros in eleifend luctus, odio ante sodales augue, eget lacinia
											lectus erat et sem. </p>
										<p>Sed semper orci sit amet porta placerat. Etiam quis finibus eros. Sed aliquam
											metus lorem, a pellentesque tellus pretium a. Nulla placerat elit in justo
											vestibulum, et maximus sem pulvinar.</p>

									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="about-section-box" id="tipos">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12 text-center">
									<div class="inner-column">
										<h1>Menú <span>Liviano</span></h1>
										<h4>Little Story</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor
											suscipit feugiat. Ut at pellentesque ante, sed convallis arcu. Nullam
											facilisis, eros in eleifend luctus, odio ante sodales augue, eget lacinia
											lectus erat et sem. </p>
										<p>Sed semper orci sit amet porta placerat. Etiam quis finibus eros. Sed aliquam
											metus lorem, a pellentesque tellus pretium a. Nulla placerat elit in justo
											vestibulum, et maximus sem pulvinar.</p>

									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<img src="../../../assets/img3.jpg" alt="" class="img-fluid">
								</div>
							</div>
						</div>
					</div>

					<div class="about-section-box" id="tipos">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<img src="../../../assets/img4.jpg" alt="" class="img-fluid">
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 text-end">
									<div class="inner-column der">
										<h1>Menú <span>General</span></h1>
										<h4>Little Story</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor
											suscipit feugiat. Ut at pellentesque ante, sed convallis arcu. Nullam
											facilisis, eros in eleifend luctus, odio ante sodales augue, eget lacinia
											lectus erat et sem. </p>
										<p>Sed semper orci sit amet porta placerat. Etiam quis finibus eros. Sed aliquam
											metus lorem, a pellentesque tellus pretium a. Nulla placerat elit in justo
											vestibulum, et maximus sem pulvinar.</p>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="about-us" id="nos">
						<div class="row">
							<div class="col-lg-3"></div>
							<div class="col-lg-6">
								<div class="heading-title text-center">
									<h2>Sobre nosotros</h2>
									<p>{{aboutUsText}}</p>

								</div>
							</div>
						</div>
					</div>

					<div class="imgfondo">
						<div class="gallery-box" id="galeria">
							<div class="container">
								<div class="row">
									<div class="col-lg-12">
										<div class="heading-title text-center">
											<h2>Gallery</h2>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
										</div>
									</div>
								</div>
								<div class="tz-gallery">
									<div class="row">
										<div class="col-sm-12 col-md-4 col-lg-4">
											<a class="lightbox">
												<img class="img-fluid" src="../../../assets/gallery-img-01.jpg"
													alt="Gallery Images">
											</a>
										</div>
										<div class="col-sm-6 col-md-4 col-lg-4">
											<a class="lightbox">
												<img class="img-fluid" src="../../../assets/gallery-img-02.jpg"
													alt="Gallery Images">
											</a>
										</div>
										<div class="col-sm-6 col-md-4 col-lg-4">
											<a class="lightbox">
												<img class="img-fluid" src="../../../assets/gallery-img-03.jpg"
													alt="Gallery Images">
											</a>
										</div>
										<div class="col-sm-12 col-md-4 col-lg-4">
											<a class="lightbox">
												<img class="img-fluid" src="../../../assets/gallery-img-04.jpg"
													alt="Gallery Images">
											</a>
										</div>
										<div class="col-sm-6 col-md-4 col-lg-4">
											<a class="lightbox">
												<img class="img-fluid" src="../../../assets/gallery-img-05.jpg"
													alt="Gallery Images">
											</a>
										</div>
										<div class="col-sm-6 col-md-4 col-lg-4">
											<a class="lightbox">
												<img class="img-fluid" src="../../../assets/gallery-img-06.jpg"
													alt="Gallery Images">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="contact-imfo-box">
						<div class="container">
							<div class="row">
								<div class="col-md-4"></div>
								<div class="col-md-4">
									<a target="_blank"
										href="https://api.whatsapp.com/send?phone=5493434549868&amp;text=Buenas!%20%20Quiero%20conocer%20las%20viandas%20que%20ofrecen"><i
											class='bx bxl-whatsapp'></i></a>
									<div class="overflow-hidden">
										<h4>{{mensajeWhatsApp}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>