.img-carousel{
    width: 100%;        
    height: 75vh;
    display: flex;
    max-width: 1500px;
    border-radius: 10%;
}

.about-section-box{
    margin-top: 50px;
}

.der{
    
    text-align: right  !important;      
}

@media(max-width:992px){
    .img-carousel{
        height: 60vh;
    }
}

.container-carousel{
    background: #f2d26b5a; 
    width: auto;
    align-items: center;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5%;
}

.btn-primary{
    background: #E3AE06;
    
}

.btn-primary:hover{
    background: #E3AE06;
}

.about-us{
    border-style: solid; 
    border-width: 1px;
    border-color: #E3AE06;
    border-radius: 100px;
}

body{
    font-family: Roboto;
}
.imagenBody{
    background-image:  url(../../../assets/test.png);
    background-repeat: repeat-x;
    margin-top: -50px;

}

.container-menu{
    background: #eaa15ccf; 
    align-items: center;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5%;
}

.demo-table {
    width: 100%;
  }
  
  .mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-demo-weight {
    font-style: italic;
  }
  
  .mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }

.row {
    border-radius: 6px;
    margin-bottom: 20px;

}

.menu {
    background-color: #eaa15c2d;
    border-radius: 6px;
    
}

.menu-fluid{
	box-shadow: 10px 10px 0px #3e2e035a;
}

.container-menu{

}