<app-header></app-header>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

<div *ngIf="!viewMenuByCategory">

  <ngb-carousel class="top" *ngIf="listUrlImage.length > 0">
    <ng-template ngbSlide *ngFor="let img of listUrlImage">
      <div class="picsum-img-wrapper">
        <img src="{{URLAPI}}{{img}}" alt="Random first slide" class="responsive">
      </div>
    </ng-template>
  </ngb-carousel>

  <ngb-carousel class="top" *ngIf="listUrlImage.length == 0">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/defaultCarousell.jpg" alt="Random first slide" class="responsive">
      </div>
    </ng-template>
  </ngb-carousel>
  
  <div class="container" id="menu">
    <div class="row gray">
      <div class="m-0 justify-content-center align-items-center title">
        <h1 class="col-auto text-center">Nuestros variedades disponibles</h1>
      </div>
        <div class="col-md" *ngFor="let category of categories">
          <app-categories-cards [category]="category"
          (onCategory)="showMenuByCategory($event)">
          </app-categories-cards>
        </div>
    </div>
  </div>



  <div class="gray responsive">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
</div>
<div *ngIf="viewMenuByCategory">
  <app-menu-by-category [category]="category">
  </app-menu-by-category>
</div>

<app-footer></app-footer>
