.responsive {
    width: 100%;
    height: auto;
  }

  .top {
    margin-top: -10px;

  }

 .gray {
    background: rgba(170, 170, 170, 0.1);
  }

  app-categories-cards {
    margin: 10px;
  }

  .title {
    padding-top: 20px;
  }
  .title h1{
    margin-bottom: 0px;
  }

  .col-auto mat-icon {
    font-size: xxx-large;
    display: inline;
    vertical-align: middle;
  }

  @media (max-width: 600px) {
    .responsive {
      width: 100%;
      height: auto;
      max-height: 200px;
      
    }
    
    .top {
      margin-top: -5px;
    }
  }

