<div class="d-flex flex-wrap">

<mat-card class="card">
  <mat-card-title>Tu orden</mat-card-title>
  <div *ngFor="let day of daysOrder">
    <mat-divider></mat-divider>
    {{ getDay(day) }} {{ day | date:'dd/MM' }}:
    <div>
        <mat-chip-list class="listMenuByDay" *ngFor="let dayOrder of order.daysOrder">
          <mat-chip *ngIf="((dayOrder.dayFood.date | date:'dd/MM') == (day | date:'dd/MM') && dayOrder.cant > 0)" [style]="{'background-color': dayOrder.dayFood.category.color}">
            {{ dayOrder.cant }} x {{ dayOrder.dayFood.category.title }}
          </mat-chip>
        </mat-chip-list>
    </div>

    <div *ngIf="personalizeAddresses">
      <div>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Cambiar dirección</mat-label>
          <mat-select [value]="defaultSelectAddress" (selectionChange)="changeAddressOnDay($event.value, day)">
            <mat-option [value]="addressTakeAway"> <b>Retiro en local -  {{ addressTakeAway.street }} Nº {{ addressTakeAway.number }}</b></mat-option>
            <mat-option *ngFor="let address of client.addresses" [value]="address" >
              {{ address.street }} Nº {{ address.number }} ({{ address.city.description }})
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </div>
</mat-card>

<mat-card *ngIf="!changeAddress" class="card">
  <h2>Domicilio de entrega</h2>
  <h3 (click)="onClickPersonalizeAddresses()"><mat-radio-button class="example-margin" [checked]="personalizeAddresses">Personalizar domicilios de entrega</mat-radio-button></h3>
  <hr>
  <h3 (click)="onClickTakeAwayAll()" *ngIf="addressTakeAway"><mat-radio-button class="example-margin" [checked]="takeAwayAll">Retiro en sucursal (<b >{{addressTakeAway.street}} {{addressTakeAway.number}}</b>)</mat-radio-button></h3>
  <hr *ngIf="addressTakeAway">
  <h3>
    <mat-radio-button [checked]="default" (click)="onClickSetDefaulAddress()">Todos tus pedidos serán entregados en</mat-radio-button>
  </h3>
  <div *ngIf="default" (click)="onClickSetDefaulAddress()">
    <mat-card-header>
      <div mat-card-avatar align="end" class="header-image"><mat-icon>place</mat-icon></div>
      <mat-card-title>
        {{selectedAdress.street}} Nº{{selectedAdress.number}} {{selectedAdress.floor}} {{selectedAdress.departament}}                 
      </mat-card-title>
      <mat-card-subtitle *ngIf="selectedAdress.observation.length  > 0">({{selectedAdress.observation}})</mat-card-subtitle>

    </mat-card-header>

    <mat-card-actions>
        <div align="end">
          <button mat-raised-button (click)="onClickEditAddress()" matTooltip="Editar">
            Cambiar
          </button>
        </div>
    </mat-card-actions>
  </div>
  
</mat-card>

<div *ngIf="changeAddress" class="card">
  <app-address
      [client]="client" 
      [selectionableAddress]="true"
      [selectedAddress]="selectedAdress"
      (getClient)="onGetClient()" 
      (selectedAddressEmit)="onSelectedAddress($event)">
  </app-address>

</div>


</div>