<h1 mat-dialog-title>{{data.actionForm}} categoría</h1>
<mat-dialog-content>

    <form [formGroup]="form" (ngSubmit)="onClickSave()" id="myform" #f="ngForm">
        <input type="hidden" formControlName="id" />

        <mat-form-field appearance="fill" #title>
            <mat-label>Titulo</mat-label>
            <input type="text" matInput formControlName="title" name="title"
                id="title" #title placeholder="Ingrese un titulo" required />
            <mat-hint *ngIf="form!.controls['title']!.touched && form!.controls['title']!.invalid"
                class="error-input">
                Este campo es requerido</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" #description>
            <mat-label>Descripción</mat-label>
            <textarea type="text" matInput formControlName="description" name="description"
                id="description" #description placeholder="Ingrese una descripción" rows="3" ></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" #price>
            <mat-label>Precio</mat-label>
            <input type="number" matInput formControlName="price" name="price"
                id="price" #price placeholder="Ingrese el precio" required />
        </mat-form-field>

        <mat-form-field appearance="fill" #color>
            <mat-label>Código de color con el #</mat-label>
            <input type="text" matInput formControlName="color" name="color"
                id="color" #color placeholder="Ingrese un código de color" required />
        </mat-form-field>


        <h4 mat-dialog-subtitle>Machete para los developer: Proteico color: #EAA15D;
        General color: #CF8266;
        Liviano color: #E4BC43;           
        Veggie color: #607D51</h4>         
        

        <h4 mat-dialog-subtitle>La imagen debe tener 1080 x 1080 (Ancho x Alto)</h4>

        <div *ngIf="urlImage != null && !changeImage">
            <img src="{{URLAPI}}/{{urlImage}}" alt="" class="preview-image">
          </div>
  
          <button mat-raised-button (click)="onChangeImagen()" *ngIf="urlImage != null && !changeImage" class="button changeImage">
            Cambiar Imagen
          </button>
            <ngx-dropzone (change)="onSelect($event)" [accept]="'image/*'" *ngIf="urlImage == null || changeImage">
              <ngx-dropzone-label>Subir imagen</ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngIf="nameImage != null" [file]="image" [removable]="true" (removed)="onRemove(f)">
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
    </form>

</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-button color="primary" (click)="onClickCancel()">
        <mat-icon>clear</mat-icon> CANCELAR
    </button>
    <button mat-raised-button color="primary" (click)="onClickSave()" type="submit" class="btn-primary btn-azul"
        [disabled]="form.status == 'INVALID' || nameImage == null">
        <mat-icon>save</mat-icon> GUARDAR
    </button>

</mat-dialog-actions>