.mat-dialog-content{
    width: 500px;
    text-align: center;
}
.mat-form-field{ 
    width:85%;
    margin-bottom: 10px;
}
.error-input{
    color:tomato;
    font-size: 12px;
}
.preview-image{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.changeImage{
    margin-bottom: 10px;

}
