
<!-- <div style="position: relative;"> -->
  <div>
    <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <!-- Remind Passowrd -->
      <div id="formHeader">
        <h1>Integral - Servicio de viandas</h1>
      </div>
      
      
      <div id="registerForm" *ngIf="viewRegisterForm">
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/integral_sin_fondo.png" id="icon" alt="User Icon" />
        <h2>¡Hola! Completá tus datos para registrarte y comenzar a usar nuestro sistema</h2>
      </div>

      
      <!-- Login Form -->
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="form-group">
            <input type="text" class="fadeIn third form-control" id="name" formControlName="name" placeholder="Nombre"/>
            <div class="error" *ngIf="registerForm.controls['name'].touched && registerForm.controls['name'].errors?.['required']">Este campo es requerido</div>
            <div class="error" *ngIf="registerForm.controls['name'].touched && registerForm.controls['name'].errors?.['pattern']">El formato de nombre no es corecto</div>
        </div>
        <div class="form-group">
            <input type="text" class="fadeIn third form-control" id="lastName" formControlName="lastName" placeholder="Apellido"/>
            <div class="error" *ngIf="registerForm.controls['lastName'].touched && registerForm.controls['lastName'].errors?.['required']">Este campo es requerido</div>
            <div class="error" *ngIf="registerForm.controls['lastName'].touched && registerForm.controls['lastName'].errors?.['pattern']">El formato de apellido no es corecto</div>
        </div>
        <div class="form-group">
        <input type="email" class="fadeIn third form-control" id="email" formControlName="email" placeholder="Email" email/>
            <div class="error" *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].errors?.['required']">Este campo es requerido</div>
            <div class="error" *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].errors?.['email']">El formato de mail no es corecto</div>
        </div>
        <div class="form-group">
            <input type="password" id="password" class="fadeIn third form-control" formControlName="password" placeholder="Contraseña" (input)="onPasswordInput()"/>
            <div class="error" *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</div>
            <div class="error" *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].errors?.['required']">Este campo es requerido</div>
        </div>
        <div class="form-group">
          <input type="password" id="passwordConfirm" class="fadeIn third form-control" formControlName="passwordConfirm" placeholder="Reingrese la contraseña" (input)="onPasswordInput()"/>
          <div class="error" *ngIf="registerForm.controls['passwordConfirm'].touched && registerForm.controls['passwordConfirm'].errors?.['passwordMismatch']">Las contraseñas deben coincidir</div>
          <div class="error" *ngIf="registerForm.controls['passwordConfirm'].touched && registerForm.controls['passwordConfirm'].errors?.['required']">Este campo es requerido</div>
        </div>
        <input type="submit" class="fadeIn fourth" value="Registrarse" [disabled]="!registerForm.valid"/>
      </form>
    </div>

     <!-- Register succes -->
    <div id="successRegister" *ngIf="viewSuccessRegister">
      <span class="material-icons task_alt">
        task_alt
      </span>
      <h2>¡Muchas gracias por su registro!</h2>
      <h2>A continuación será redirigido y podrá iniciar sesión</h2>
      <div class="loader">Redirigiendo</div>
    </div>


      <!-- Register error -->
    <div id="erorrRegister" *ngIf="viewErrorRegister">
      <span class="material-icons  highlight_off">
        highlight_off
        </span>
        <h2>Algo no salió como esperabamos: {{ this.errorPostSubmit }}</h2>
    </div>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="{{LOGIN}}">Iniciá sesión</a>
        <br>
        <a class="underlineHover" href="{{INICIO}}">Regresar al inicio</a>
      </div>
    </div>
  </div>
  <app-mat-notification></app-mat-notification>

<div class="fondo">
</div>		

</div>
