<mat-form-field appearance="standard">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="onSearch($event)" placeholder="" #input>
  </mat-form-field>

  <div class="table-width-menu">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
    <colgroup>
      <col style="width:'10%'"/>
      <col style="width:'25%'"/>
      <col style="width:'25%'"/>
      <col style="width:'40%'"/>
   </colgroup>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'isActive': element.isCurrent}"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Desde </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'isActive': element.isCurrent}"> {{element.dateStart | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden"> Fecha orden </th>
      <td mat-cell *matCellDef="let element" class="hidden"> {{element.date | date:'dd/MM/YYYY'}}
      </td>
  </ng-container>

    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hasta </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'isActive': element.isCurrent}"> {{element.dateEnd | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'isActive': element.isCurrent}" class="actions-button-container">
        <button mat-stroked-button matTooltip="Eliminar menú" class="button" (click)="onClickDelete(element)">          
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-stroked-button matTooltip="Ver menú" class="button" (click)="onClickViewMenu(element)">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No se encontró información para "{{input.value}}"</td>
    </tr>
  </table>
  <br>
  <mat-paginator [pageSizeOptions]="[10, 20, 30, 50]" showFirstLastButtons></mat-paginator>
  </div>