
	<!-- Start Footer -->
	<footer class="footer-area bg-f">
- 		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6" align="center">
					<img src="../../../assets/logopie.png" alt="#" class="img-fluid">
				</div>
				<div class="col-lg-3 col-md-6">
					<p></p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3 class="contacto">Teléfono de Contacto</h3>
					<p><a><i class='bx bxs-phone-call' ></i> Llamadas: 343 154-549868</a></p>
					<p><a href="https://wa.me/+5493434549868" target="_blank"><i class='bx bxl-whatsapp'></i> WhatsApp: +5493434549868</a></p>
					<!-- <p><span><a href="mailto:info@integralviandas.com.ar"><i class='bx bx-mail-send' ></i></a></span>    <a href="mailto:info@integralviandas.com.ar">  info@integralviandas.com.ar</a></p> -->
					
                      
				</div>
				<div class="col-lg-3 col-md-6">
					<h3 class="contacto">Redes sociales</h3>
					<p><a href="https://instagram.com/integralviandas?utm_medium=copy_link" target="_blank"><i class='bx bxl-instagram'></i>  Instagram</a></p>
					<p><a href="https://www.facebook.com/integralviandas/" target="_blank"><i class='bx bxl-facebook' ></i> Facebook</a></p>
					
				</div>
			</div>
		</div> 

		
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						
					</div>
				</div>
			</div>
		</div>
		
	</footer>
	<!-- End Footer -->
	
	<a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>

	