<header class="top-navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand me-2" href="">
      <img
        
        src="../../../assets/integral_sin.png"
        height="48"
        alt=""
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <div
      class="collapse navbar-collapse"
      id="navbarButtonsExample"
      mdbCollapse
      
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a  href="#">Integral Viandas App</a>
        </li>
      </ul>
      
      <ul #myNameElem2 class="nav-item">
        <button mat-raised-button class="button" onclick="location.href='inicio#menu'" fragment="features">Menu</button>
        <button mat-raised-button class="button" onclick="location.href='inicio#tipos'" fragment="features">Tipos</button>
        <button mat-raised-button class="button" onclick="location.href='inicio#nos'">Nosotros</button>
        <button mat-raised-button class="button" onclick="location.href='inicio#galeria'" tabindex="-1" aria-disabled="true">Galería</button>
      </ul>
      </div>


      <div class="d-flex">
          <div class="">
            <div ngbDropdown class="d-inline-block">
              <figure  class="nav__logo" id="dropdownBasic1" ngbDropdownToggle>
                <img src="../../../assets/menu.svg"  class="nav__img" alt="">
              </figure>
              
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem class="drowdownitem" onclick="location.href='inicio#menu'">Menu</button>
                <button ngbDropdownItem class="drowdownitem" onclick="location.href='inicio#tipos'">Tipos</button>
                <button ngbDropdownItem class="drowdownitem" onclick="location.href='inicio#nos'">Nosotros</button>
                <button ngbDropdownItem class="drowdownitem" onclick="location.href='inicio#galeria'">Galería</button>
              </div>
            </div>
          </div>        
        <button *ngIf="loginDisabled" mat-raised-button class="button login"><a  href="{{ADMINISTRATION}}">Bienvenido</a> </button>
        <button *ngIf="!loginDisabled" mat-raised-button class="button login"><a  href="{{LOGIN}}">Iniciá acá</a> </button>
      </div>
  </div>
</nav>
</header>