.nav-link:hover{
	background: #E3AE06;
	color: #ffffff;
    font-weight: 600;
}

.nav-link{
    display: inline;
    font-weight: 500;
    text-decoration: none;
}

.drowdownitem:hover{
    background: #E3AE06;
}

.drowdownitem.login a{
   color:#E3AE06;
   font-size: large;
   font-weight: 600
}

.drowdownitem.login:hover a{
    color:#ffffff;
}

 figure{
    margin: 7px 5px 0rem
}

.dropdown-toggle::after{
    content: none;
}

.nav__img{
    width: 30px;
    display: block;
}

.nav__logo{
    cursor:pointer;
}

@media(min-width:992px){
    .nav__logo{
        display: none;
    }
}