.button:hover{
	background: #E3AE06;
	color: #ffffff;
}

.button{
    display: inline;
    text-decoration: none;
    margin-right: 10px
}

.button.login{
    background: #E3AE06;
}

.button.login:hover{
    background: white
}

.button.login a{
    color: white;
}
.button.login a:hover{
    color: #E3AE06;
}

.drowdownitem:hover{
    background: #E3AE06;
}

.drowdownitem.login a{
   color:#E3AE06;
   font-size: large;
}

.drowdownitem.login:hover a{
    color:#ffffff;
}

 figure{
    margin: 7px 5px 0rem
}

.dropdown-toggle::after{
    content: none;
}

.nav__img{
    width: 30px;
    display: block;
}

.nav__logo{
    cursor:pointer;
}

@media(min-width:992px){
    .nav__logo{
        display: none;
    }
}
