<header class="top-navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand me-2" href="">
      <img
        
        src="assets/integral_sin.png"
        height="48"
        alt=""
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <!-- Toggle button -->
  

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarButtonsExample"
      mdbCollapse
      
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Integral Viandas App</a>
        </li>
      </ul>
        </figure>
      </div>
      
      <ul #myNameElem2 class="nav-item">
        <div class="row flex-xl-nowrap">
          <div class="col-12 col-lg-12">
        <a class="nav-link active navbar-botones" aria-current="page" [routerLink]="['/inicio']">Home</a>
        <a class="nav-link navbar-botones" onclick="location.href='inicio#tipos'" fragment="features">Tipos</a>
        <a class="nav-link navbar-botones" onclick="location.href='inicio#nos'">Nosotros</a>
        <a class="nav-link navbar-botones" onclick="location.href='inicio#galeria'" tabindex="-1" aria-disabled="true">Galería</a>
        </div>
        </div>
      </ul>
      </div>

      
      <div class="d-flex align-items-center">
        
        <figure title="Contactanos" _ngcontent-vix-c107="" id="dropdownBasic1" ngbdropdowntoggle="" class="dropdown-toggle nav__logo" aria-expanded="false">
          <ul _ngcontent-vix-c107="" class="d-inline-block dropdown">
            <li _ngcontent-vix-c107="" class="nav-item lead">
              <a target="_blank" class="" href="https://api.whatsapp.com/send?phone=5493434549868&amp;text=Buenas!%20%20Quiero%20conocer%20las%20viandas%20que%20ofrecen">
                <img _ngcontent-vix-c107="" src="assets/whas.svg" alt="">
              </a>
                
              </li>
            </ul>
          </figure>
        <div class="row">
          
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <!-- <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button> -->
              <figure  class="nav__logo" id="dropdownBasic1" ngbDropdownToggle>
           
                <img src="assets/menu.svg"  class="nav__img" alt="">
              </figure>
              
              
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem class="drowdownitem" onclick="location.href='inicio#tipos'">Tipos</button>
                <button ngbDropdownItem class="drowdownitem" onclick="location.href='inicio#nos'">Nosotros</button>
                <button ngbDropdownItem class="drowdownitem" onclick="location.href='inicio#galeria'">Galería</button>
              </div>
            </div>
          </div>        
        </div>
        <a class="btn btn-link px-2 me-2" href="/login">Login</a>
     
        <!-- <button type="button" class="btn btn-primary me-3">
          Login
        </button> -->

        
        
      
      

      </div>
  </div>
</nav>
</header>