<mat-card> 
    <mat-card-header>
        <mat-card-subtitle>
            Administre la configuración de las zonas desde aquí
        </mat-card-subtitle>
        <mat-card-title>
            Zonas
        </mat-card-title>
    </mat-card-header> 
    <hr>
    <mat-card-content>
        <div class="container-fluid">

            <div class="button-container">
                <button mat-raised-button (click)="onClickZone()" title="Agregar zona" class="button">
                <mat-icon>add</mat-icon>Agregar zona
                </button>
            </div>

            <div class="table-width-zone">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                    <colgroup>
                    <col style="width:'50%'"/>
                    <col style="width:'20%'"/>
                    <col style="width:'30%'"/>
                    </colgroup>

                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Descripción </th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Precio </th>
                        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element" class="actions-button-container">
                            <button mat-stroked-button class="button" (click)="onClickZone(element)" title="Editar zona">          
                                <mat-icon>edit</mat-icon>
                              </button>
                              <button mat-stroked-button class="button" (click)="onClickDelete(element)" title="Borrar zona">          
                                <mat-icon>delete</mat-icon>
                              </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                    <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No se encontró información</td>
                    </tr>
                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>