<mat-toolbar>
    <mat-toolbar-row>
        <a href="">
            <img src="../../../../assets/integral_sin.png" height="48" alt="" loading="lazy"
                style="margin-top: -1px;" />
        </a>
        <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
        <h4>Panel administración {{ status }}</h4>

        <span class="spacer"></span>
        <div class="row">
            <div ngbDropdown class="d-inline-block">
                <button *ngIf="isLoggedIn" mat-raised-button class="drowdownitem login" id="dropdownBasic1"
                    ngbDropdownToggle>
                    Hola {{userProfile?.firstName}} {{userProfile?.lastName}} <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="logout()"><mat-icon>exit_to_app</mat-icon>Cerrar sesión</button>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">

        <mat-list (click)="getAddressesUnassignabled()">
            <mat-list-item  class="nav-link" [routerLink]="[ORDER]" routerLinkActive="active">
                Ordenes
            </mat-list-item>
            <mat-list-item class="nav-link" [routerLink]="[CARROUSEL]" routerLinkActive="active">
                Carrousel
            </mat-list-item>
            <mat-list-item class="nav-link" [routerLink]="[CATEGORY]" routerLinkActive="active">
                Categorías
            </mat-list-item>
            <mat-list-item class="nav-link" [routerLink]="[FOOD]" routerLinkActive="active">
                Platos
            </mat-list-item>
            <mat-list-item class="nav-link" [routerLink]="[MENU]" routerLinkActive="active">
                Menú
            </mat-list-item>
            <mat-list-item class="nav-link" [routerLink]="[CLIENT]" routerLinkActive="active">
                Clientes
            </mat-list-item>
            <mat-list-item class="nav-link" [routerLink]="[PATHOLOGY]" routerLinkActive="active">
                Patologías
            </mat-list-item>
            <mat-list-item class="nav-link" [routerLink]="[DELIVERYDRIVER]" routerLinkActive="active">
                Repartidores
            </mat-list-item>
            <mat-list-item class="nav-link" [routerLink]="[TANDA]" routerLinkActive="active">
                Tandas <mat-chip-list *ngIf="addressesUnassignabled > 0"><mat-chip class="notification-addressesUnassignabled" matTooltip="Direcciones sin asignar">{{addressesUnassignabled}}</mat-chip></mat-chip-list>

            </mat-list-item>


        </mat-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>