<mat-toolbar>
    <mat-toolbar-row>
        <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
        <h4>Panel administracion {{ status }}</h4>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
       
       <mat-list>
        <mat-list-item [ngClass]="{'active': status === '> Carrousel'}" class="nav-link" [routerLink]="[CARROUSEL]" (click)="status='> Carrousel'">
            Carrousel
        </mat-list-item>
        <mat-list-item [ngClass]="{'active': status === '> Platos'}" class="nav-link" [routerLink]="[FOOD]" (click)="status='> Platos'"> 
            Platos
        </mat-list-item>
        <mat-list-item>

        </mat-list-item>
        <mat-list-item>
            <span class="nav-link closeSession" (click)="closeSesion()">Cerrar sesión</span>
        </mat-list-item>
       </mat-list>
       
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    </mat-sidenav-container>