mat-sidenav-container{
    height: calc(100% - 64px);
}

mat-sidenav{
    display: flex;
    width: 200px;
    background-color: #f2d26b5a; 
}

mat-toolbar{
    background-color: #f2d26bc4;
}

mat-icon {
    vertical-align: middle;
  }
  
.nav-link:hover  {
	background: #f2d26be1;
	color: #575757;
    cursor: pointer;
}

.nav-link.active  {
	background: #f2d26be1;
	color: #575757;
}

.nav-link {
    font-weight: 500;
    color: black;
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
  }


  .drowdownitem:hover{
    background: #E3AE06;
}


.drowdownitem.login:hover a{
    color:#ffffff;
}

.dropdown-toggle::after{
    content: none;
}

.title-component{
    text-align: center;
    margin-top: 100px;
}

@media (max-width: 600px) {

    mat-sidenav-container{
        height: calc(100% - 56px);
    }

}

.notification-addressesUnassignabled {
    background-color: tomato;
    color: #FFFF;
    padding: 0 8px;
    min-height: 20px;
    font-size: 12px;
}

mat-chip-list {
    margin-left: 7px;
    height: min-content;

}
