mat-sidenav-container{
    height: calc(205vh - 115vh);
}

mat-sidenav{
    display: flex;
    width: 200px;
    background-color: #f2d26b5a; 
}

a{
    text-decoration:none
}

mat-toolbar{
    background-color: #E3AE06;
}

mat-toolbar .closeSesion {
    display: flex;
    float: right;

}