.mat-dialog-content {
    text-align: center;
}

.mat-form-field {
    width: 100%;
}

.error-input {
    color: tomato;
    font-size: 12px;
}

::ng-deep .mat-form-field-infix {
    width: auto !important;
}

@media (min-width: 800px) {
    .mat-dialog-content {
        width: 500px;
    }
}
.tabla{
    width: 100%;
}

.date{
    width: 50%;
}


h5 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h5 span {
    background: #fff;
    padding: 0 10px;
}