<h1 mat-dialog-title>{{data.actionForm === 'Add' ? 'Nuevo' : 'Editando' }} repartidor</h1>
<mat-dialog-content>

    <form [formGroup]="form" id="myform" #f="ngForm">
        <input type="hidden" formControlName="id" />

        <table class="tabla">
            <tr>
                <td>
                    <mat-form-field appearance="fill" #name>
                        <mat-label>Nombre</mat-label>
                        <input type="text" matInput formControlName="name" name="name" id="name" #name
                            placeholder="Ingrese un nombre" required />
                        <mat-hint *ngIf="form!.controls['name']!.touched && form!.controls['name']!.invalid"
                            class="error-input">
                            Este campo es requerido</mat-hint>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill" #lastName>
                        <mat-label>Apellido</mat-label>
                        <input type="text" matInput formControlName="lastName" name="lastName" id="lastName" #lastName
                            placeholder="Ingrese un apellido" required />
                        <mat-hint *ngIf="form!.controls['lastName']!.touched && form!.controls['lastName']!.invalid"
                            class="error-input">
                            Este campo es requerido</mat-hint>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <mat-form-field appearance="fill" class="date">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="bornDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint *ngIf="form!.controls['bornDate']!.touched && form!.controls['bornDate']!.invalid"
                class="error-input">
                Este campo es requerido</mat-hint>
        </mat-form-field>

        <table class="tabla">
            <tr>
                <td>
                    <mat-form-field appearance="fill" #dni>
                        <mat-label>DNI</mat-label>
                        <input type="number" matInput formControlName="dni" name="dni" id="dni" #dni
                            placeholder="Ingrese DNI" required />
                        <mat-hint *ngIf="form!.controls['dni']!.touched && form!.controls['dni']!.invalid"
                            class="error-input">
                            Este campo es requerido</mat-hint>
                        <mat-hint *ngIf="messageError != null" class="error-input">{{messageError}}</mat-hint>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill" #phone>
                        <mat-label>Teléfono</mat-label>
                        <input type="text" matInput formControlName="phone" name="phone" id="phone" #phone
                            placeholder="Teléfono" required />
                        <mat-hint *ngIf="form!.controls['phone']!.touched && form!.controls['phone']!.invalid"
                            class="error-input">
                            Este campo es requerido</mat-hint>
                    </mat-form-field>
                </td>
            </tr>
        </table>


        <mat-form-field appearance="fill" #street class="street">
            <mat-label>Calle</mat-label>
            <input type="text" matInput formControlName="street" name="street" id="street" #street placeholder="Calle"
                required />
            <mat-hint *ngIf="form!.controls['street']!.touched && form!.controls['street']!.invalid"
                class="error-input">
                Este campo es requerido</mat-hint>
        </mat-form-field>
        <table>
            <tr>
                <td>
                    <mat-form-field appearance="fill" #number>
                        <mat-label>Número</mat-label>
                        <input type="text" matInput formControlName="number" name="number" id="number" #number
                            placeholder="Número" />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill" #floor>
                        <mat-label>Piso</mat-label>
                        <input type="text" matInput formControlName="floor" name="floor" id="floor" #floor
                            placeholder="Piso" />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill" #departament>
                        <mat-label>Dpto</mat-label>
                        <input type="text" matInput formControlName="departament" name="departament" id="departament"
                            #departament placeholder="Dpto" />
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <mat-form-field appearance="fill" #obsAddress>
            <mat-label>Indicaciones</mat-label>
            <textarea type="text" matInput formControlName="obsAddress" name="obsAddress" id="obsAddress" #obsAddress
                rows="2"></textarea>
        </mat-form-field>

        <table>
            <label>Datos del vehículo</label>
            <tr>
                <td>
                    <mat-form-field appearance="fill" #brand>
                        <mat-label>Marca</mat-label>
                        <input type="text" matInput formControlName="brand" name="brand" id="brand" #brand
                            placeholder="Marca" />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill" #model>
                        <mat-label>Modelo</mat-label>
                        <input type="text" matInput formControlName="model" name="model" id="model" #model
                            placeholder="Modelo" />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill" #patent>
                        <mat-label>Patente</mat-label>
                        <input type="text" matInput formControlName="patent" name="patent" id="patent" #patent
                            placeholder="Patente" />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill" #year>
                        <mat-label>Año</mat-label>
                        <input type="number" matInput formControlName="year" name="year" id="year" #year
                            placeholder="Año" />
                    </mat-form-field>
                </td>
            </tr>
        </table>


    </form>

</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-button color="primary" (click)="onClickCancel()">
        <mat-icon>clear</mat-icon> CANCELAR
    </button>
    <button mat-raised-button color="primary" (click)="onClickSave()" class="btn-primary btn-azul"
        [disabled]="form.status == 'INVALID' ">
        <mat-icon>save</mat-icon> GUARDAR
    </button>

</mat-dialog-actions>