<mat-toolbar class="toolbarNav">
    <button mat-flat-button routerLink="/top-artists" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">
        star_border</mat-icon>
      <span>Top Artists</span>
    </button>
    <button mat-flat-button routerLink="/top-tracks" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">favorite_border
      </mat-icon>
      <span>Top Tracks</span>
    </button>
    <button mat-flat-button routerLink="/history" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">history</mat-icon>
      <span>History</span>
    </button>
  </mat-toolbar>