.mat-dialog-content {
    text-align: center;
}

.mat-form-field {
    width: 100%;
}

.error-input {
    color: tomato;
    font-size: 12px;
}

::ng-deep .mat-form-field-infix {
    width: auto !important;
}

@media (min-width: 800px) {
    .mat-dialog-content {
        width: 500px;
    }
}

.section-pathologies {
    margin-top: -20px;
    text-align: left;
    margin-bottom: 10px;
}

fieldset {
    border: solid 1px #ced4da;
}

fieldset mat-form-field{
    padding: 10px 0;
}
