<div class="container-fluid">

    <div *ngIf="client">

        <app-address [client]="client" 
            [selectionableAddress]="false" 
            (getClient)="getClient()">
        </app-address>


        <mat-card class="card">
            <mat-card-header class="text">
                <mat-card-title>Teléfonos </mat-card-title>
            </mat-card-header>
            <hr>
            <mat-card-content>
                <p>
                    {{client.phonePrimary}}
                </p>
                <p *ngIf="client.phoneSecondary != null">
                    {{client.phoneSecondary}}
                </p>

            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-header class="text">
                <mat-card-title>Información adicional </mat-card-title>
            </mat-card-header>
            <hr>
            <mat-card-content>
                <label>Fecha de nacimiento:</label>
                <p>
                    {{client.bornDate | date: 'dd/MM/yyyy' }}
                </p>
                <label>Observación:</label>
                <p>
                    {{client.observation }}
                </p>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>

        <div align="center">
            <button mat-raised-button (click)="onClickUpdate()" class="button">
                Actualizar mis datos
            </button>
        </div>

    </div>

</div>