mat-card {
    margin-top: 10px;
}

.isActive {
    background: #eee;
}

.orders-card {
    max-width: 450px;
    margin-bottom: 10px;
    width: 100%;
  }


  @media (min-width: 940px) {
    .orders-card {
      max-width: 550px;
      margin: 15px;
      width: 100%;
    }

  
  }