<div class="margin">
<div class="container">
    <div class="row">
        <div class="col-md">
            <img mat-card-image src="{{URLAPI}}{{category.urlImage}}" alt="Foto del menú {{category.title}}">
        </div>
        <div class="col-md">
            <h1>Menú {{category.title}}</h1> 
            <hr>
            <h2>Valor:</h2>
            <h3>Este menú tiene un costo de ${{category.price}}.</h3>
            <h3>Podrá consultar costos por menú semanal y/o mensual con importantes beneficios.</h3>
            <p>Consultar por envíos a domicilio.</p>
            <h2>¿En qué consiste este menú?</h2>
            <h3>{{category.description}}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
    <h2>Desde el {{menuViewer.dateStart | date: 'dd/MM'}} hasta el {{menuViewer.dateEnd | date: 'dd/MM'}}</h2>
    <div class="row">

        <app-view-menu-complete [menuViewer]="menuViewer"></app-view-menu-complete>

    </div>
</div>
</div>
