<div class="container-fluid">
  <h1 class="title-component">Administrar Platos</h1>

  <div class="button-container">
    <button mat-raised-button (click)="onClickAdd()" matTooltip="Agregar plato" class="button">
      <mat-icon>add</mat-icon>Agregar Plato
    </button>
  </div>

  <mat-form-field appearance="standard">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="onSearch($event)" placeholder="" #input>
  </mat-form-field>

  <div class="table-width-food">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <colgroup>
      <col style="width:'6%'"/>
      <col style="width:'27%'"/>
      <col style="width:'27%'"/>
      <col style="width:'20%'"/>
      <col style="width:'20%'"/>
   </colgroup>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden"> Título </th>
      <td mat-cell *matCellDef="let element" class="hidden" #tooltip="matTooltip"
        [matTooltip]="element.title" matTooltipPosition="below"> {{element.title}} 
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden"> Descripcion </th>
      <td mat-cell *matCellDef="let element" class="hidden" #tooltip="matTooltip"
        [matTooltip]="element.description" matTooltipPosition="below"> {{element.description}} 
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden"> Categorias </th>
      <td mat-cell *matCellDef="let element" class="hidden"><span *ngFor="let cat of element.categories"><span *ngIf="cat.checked">
            {{cat.title}} </span> </span> </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element" class="actions-button-container">
        <button mat-stroked-button class="button" (click)="onClickEdit(element)" matTooltip="Editar plato">          
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-stroked-button class="button" (click)="onClickDelete(element)" matTooltip="Eliminar plato">          
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No se encontró información para "{{input.value}}"</td>
    </tr>
  </table>
  <br>
  <mat-paginator [pageSizeOptions]="[10, 20, 30, 50]" showFirstLastButtons></mat-paginator>
</div>  

</div>