<div class="container-fluid">
<h3>Seleccione las direcciones que desee quitar de la tanda:</h3>
    <div class="div-address">
        <div *ngFor="let client of listClient">
            <mat-card class="card" *ngFor="let address of client.addresses">
                <mat-card-content>
                    <p>
                        <mat-checkbox (click)="addAddressToList(address)">{{client.name}} - {{address.street}}
                            {{address.number}} {{address.floor}} {{address.departament}}
                        </mat-checkbox>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <hr>
    <div align="center">
        <button mat-raised-button color="primary" (click)="onClickRemove()" class="btn-primary btn-azul"
            [disabled]="listIdAddress.length == 0">
            <mat-icon>save</mat-icon> QUITAR
        </button>
    </div>
</div>