.mat-form-field {
    width: 400px;
}

.div-address {
    column-count: 3;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
    background-color: red;
  }
  
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: red;
  }