<div class="container-fluid">
    <div *ngFor="let tandaTable of listTandaTable">
        <div *ngIf="tandaTable.categoryTable">
            <div class="title">
                <h4><strong>{{tandaTable.tanda.description}} ({{tandaTable.tanda.hourStart}}hs a
                        {{tandaTable.tanda.hourEnd}}hs)
                    </strong>{{tandaTable.tanda.deliveryDriver.name}} {{tandaTable.tanda.deliveryDriver.lastName}}</h4>
            </div>
            <table mat-table [dataSource]="tandaTable.order" class="mat-elevation-z8">

                <colgroup>
                    <col style="width:'5%'" />
                    <col style="width:'20%'" />
                    <col style="width:'25%'" />
                    <col style="width:'30%'" />
                    <col style="width:'5%'" />
                    <col style="width:'5%'" />
                    <col style="width:'5%'" />
                    <col style="width:'5%'" />
                </colgroup>


                <ng-container matColumnDef="idOrder">
                    <th mat-header-cell *matHeaderCellDef > Orden </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="client">
                    <th mat-header-cell *matHeaderCellDef> Cliente </th>
                    <td mat-cell *matCellDef="let element"> {{element.client.name}} {{element.client.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef > Dirección </th>
                    <td mat-cell *matCellDef="let element" > {{element.address.street}}
                        {{element.address.number}}
                        {{element.address.floor}} {{element.address.departament}}</td>
                </ng-container>

                <ng-container matColumnDef="observation">
                    <th mat-header-cell *matHeaderCellDef> Observación </th>
                    <td mat-cell *matCellDef="let element"> {{element.client.observation}} </td>
                </ng-container>

                <ng-container matColumnDef="proteico">
                    <th mat-header-cell *matHeaderCellDef> Proteico </th>
                    <td mat-cell *matCellDef="let element"><span
                            *ngFor="let categoryTable of element.categoryTable"><span
                                *ngIf="categoryTable.category.id == 2 ">{{categoryTable.cant}}</span></span> </td>
                </ng-container>

                <ng-container matColumnDef="general">
                    <th mat-header-cell *matHeaderCellDef> General </th>
                    <td mat-cell *matCellDef="let element"><span
                            *ngFor="let categoryTable of element.categoryTable"><span
                                *ngIf="categoryTable.category.id == 3 ">{{categoryTable.cant}}</span></span> </td>
                </ng-container>

                <ng-container matColumnDef="liviano">
                    <th mat-header-cell *matHeaderCellDef> Liviano </th>
                    <td mat-cell *matCellDef="let element"><span
                            *ngFor="let categoryTable of element.categoryTable"><span
                                *ngIf="categoryTable.category.id == 4 ">{{categoryTable.cant}}</span></span> </td>
                </ng-container>

                <ng-container matColumnDef="veggie">
                    <th mat-header-cell *matHeaderCellDef> Veggie </th>
                    <td mat-cell *matCellDef="let element"><span
                            *ngFor="let categoryTable of element.categoryTable"><span
                                *ngIf="categoryTable.category.id == 1 ">{{categoryTable.cant}}</span></span> </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <div class="total">
                <span class="total-item"><strong>SubTotales:</strong></span>
                <div class="total-item" *ngFor="let categoryTable of tandaTable.categoryTable">
                    {{categoryTable.category.title}}: {{categoryTable.cant}}</div>
            </div>
        </div>

    </div>
    <div class="total">
        <span class="total-item"><strong>Totales:</strong></span>
        <div class="total-item" *ngFor="let categoryTable of listCategoryTable">
            {{categoryTable.category.title}}: {{categoryTable.cant}}</div>
    </div>
</div>