<div class="container-fluid">
    <div *ngFor="let tandaTable of listTandaTable">
        <div *ngIf="tandaTable.categoryTable">
            <div class="title">
                <h4><strong>{{tandaTable.tanda.description}} ({{tandaTable.tanda.hourStart}}hs a
                        {{tandaTable.tanda.hourEnd}}hs)
                    </strong>{{tandaTable.tanda.deliveryDriver.name}} {{tandaTable.tanda.deliveryDriver.lastName}}</h4>
            </div>
            <table mat-table [dataSource]="tandaTable.order" class="mat-elevation-z8">

                <colgroup>
                    <col style="width:'5%'" />
                    <col style="width:'20%'" />
                    <col style="width:'25%'" />
                    <col style="width:'30%'" />
                    <col style="width:'5%'" />
                    <col style="width:'5%'" />
                    <col style="width:'5%'" />
                    <col style="width:'5%'" />
                </colgroup>


                <ng-container matColumnDef="idOrder">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Orden </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    <td mat-footer-cell *matFooterCellDef><strong>SubTotal</strong></td>

                </ng-container>
                <ng-container matColumnDef="client">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Cliente </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.client.name}} {{element.client.lastName}} </td>
                    <td mat-footer-cell *matFooterCellDef> </td>

                </ng-container>

                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Dirección </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.address.street}}
                        {{element.address.number}}
                        {{element.address.floor}} {{element.address.departament}}</td>
                    <td mat-footer-cell *matFooterCellDef> </td>

                </ng-container>

                <ng-container matColumnDef="observation">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Observación </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.client.observation}} </td>
                    <td mat-footer-cell *matFooterCellDef> </td>

                </ng-container>

                <ng-container matColumnDef="proteico">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Proteico </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"><span
                            *ngFor="let categoryTable of element.categoryTable"><span
                                *ngIf="categoryTable.category.id == 2 ">{{categoryTable.cant}}</span></span> </td>
                    <td mat-footer-cell *matFooterCellDef style="text-align: center;"><strong>{{getTotal(2,tandaTable)}}</strong></td>

                </ng-container>

                <ng-container matColumnDef="general">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> General </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"><span
                            *ngFor="let categoryTable of element.categoryTable"><span
                                *ngIf="categoryTable.category.id == 3 ">{{categoryTable.cant}}</span></span> </td>
                    <td mat-footer-cell *matFooterCellDef style="text-align: center;"><strong>{{getTotal(3,tandaTable)}}</strong></td>

                </ng-container>

                <ng-container matColumnDef="liviano">
                    <th mat-header-cell *matHeaderCellDef> Liviano </th>
                    <td mat-cell *matCellDef="let element"><span
                            *ngFor="let categoryTable of element.categoryTable"><span
                                *ngIf="categoryTable.category.id == 4 ">{{categoryTable.cant}}</span></span> </td>
                    <td mat-footer-cell *matFooterCellDef><strong>{{getTotal(4,tandaTable)}}</strong></td>

                </ng-container>

                <ng-container matColumnDef="veggie">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Veggie </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"><span
                            *ngFor="let categoryTable of element.categoryTable"><span
                                *ngIf="categoryTable.category.id == 1 ">{{categoryTable.cant}}</span></span> </td>
                    <td mat-footer-cell *matFooterCellDef style="text-align: center;"><strong>{{getTotal(1,tandaTable)}}</strong> </td>

                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
        </div>

    </div>
    <div class="total" *ngIf="listCategoryTable">
        <span class="total-item"><strong>Totales:</strong></span>
        <div class="total-item" *ngFor="let categoryTable of listCategoryTable">
            {{categoryTable.category.title}}: {{categoryTable.cant}}</div>
    </div>
</div>