<mat-toolbar>
    <mat-toolbar-row>
        <!-- <a href="">
            <img src="../../../../assets/integral_sin.png" height="48" alt="" loading="lazy" style="margin-top: -1px;"/>
        </a> -->
        <button mat-icon-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
        <h4>{{ status }}</h4>

        <span class="spacer"></span>
        <div class="row">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="isLoggedIn" mat-raised-button class="drowdownitem login" id="dropdownBasic1" ngbDropdownToggle>
              Hola {{userProfile?.firstName}} {{userProfile?.lastName}} <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="logout()">Cerrar sesión</button>
            </div>
          </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="over">
       
       <mat-list>
        <mat-list-item [ngClass]="{'active': status === 'Tu perfil'}" class="nav-link" [routerLink]="[PROFILE]" (click)="status='Tu perfil'; opened = !opened">
            <mat-icon>account_box</mat-icon> <div class="item">Tu perfil</div>
        </mat-list-item>
        <mat-list-item [ngClass]="{'active': status === 'Pedir'}" class="nav-link" [routerLink]="[ORDER]" (click)="status='Pedir'; opened = !opened">
            <mat-icon>assignment</mat-icon> <div class="item">Pedir</div>
        </mat-list-item>
        
        <mat-list-item>

        </mat-list-item>

       </mat-list>
       
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    </mat-sidenav-container>