<mat-toolbar>
    <mat-toolbar-row>
        <!-- <a href="">
            <img src="../../../../assets/integral_sin.png" height="48" alt="" loading="lazy" style="margin-top: -1px;"/>
        </a> -->
        <button mat-icon-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
        <h4>{{ status }}</h4>

        <span class="spacer"></span>
        <div class="row">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="isLoggedIn" mat-raised-button class="drowdownitem login" id="dropdownBasic1" ngbDropdownToggle>
              Hola {{userProfile?.firstName}} {{userProfile?.lastName}} <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem [routerLink]="[PROFILE]"><mat-icon>person</mat-icon> Mi perfil</button>
              <button ngbDropdownItem (click)="logout()"><mat-icon>exit_to_app</mat-icon> Cerrar sesión</button>
            </div>
          </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="over">
       
       <mat-list>
        <!-- <mat-list-item class="nav-link" [routerLink]="[PROFILE]" (click)="opened = !opened" routerLinkActive="active">
            <mat-icon>account_box</mat-icon> <div class="item">Mi perfil</div>
        </mat-list-item> -->
            <div class="logo" align="center">
                <img [routerLink]="[INICIO]" src="../../../../assets/integral_sin.png" height="70" alt="Inicio" loading="lazy"/>
            </div>
        <mat-list-item class="nav-link" [routerLink]="[ADDRESSES]" (click)="opened = !opened" routerLinkActive="active">
            <mat-icon>place</mat-icon> <div class="item">Mis direcciones</div>
        </mat-list-item>
        <mat-list-item class="nav-link" [routerLink]="[ORDER]" (click)="opened = !opened" routerLinkActive="active">
            <mat-icon>assignment</mat-icon> <div class="item">Pedir</div>
        </mat-list-item>
        <mat-list-item class="nav-link" [routerLink]="[ORDERS]" (click)="opened = !opened" routerLinkActive="active">
            <mat-icon>list_alt</mat-icon> <div class="item">Mis ordenes</div>
        </mat-list-item>
        <mat-list-item class="nav-link" *ngIf="userAsAdmin" routerLinkActive="active" (click)="backToAdminPanel()">
            <mat-icon>admin_panel_settings</mat-icon> <div class="item">Administración</div>
        </mat-list-item>

       </mat-list>
       
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    </mat-sidenav-container>