.food-card {
  max-width: 450px;
  min-width: 300px;
  margin-bottom: 10px;
  width: 100%;
}

mat-card-title h4 {
  font-size: medium;
  padding-right: 5px;
  line-height: initial;
}

.day{
  color: rgba(0,0,0,.87);
  font-weight: 500;
  margin-top: 15px;
  text-align: center;
}

.descriptionSubtitle {
  font-size: small;
  text-align: justify;
  text-justify: inter-word;
  overflow: hidden;
  margin-right: 5px;
  line-height: normal;
}

h4 {
  margin-bottom: 0px !important;
}

.foodCardImg {
  border-radius: 5px;
}

.cant {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 120px;
  margin-right: 8px;
  margin-top: 8px;
  height: 40px;
}

.removeButton {
  float: left;
}
.center {
  margin: inherit;
  width: 50%;
}

.mat-standard-chip {
  min-height: 18px !important;
  margin-right: 0px !important;
  font-size: smaller;
}

.spacer {
  flex: 1 1 auto;
}

.inline {
  display: -webkit-inline-box;
  width: 100%;
  display:flex;

}

.cancel-order{
  background-color: #c700008d;
  color: rgb(55, 55, 55);
}
.active-order{
  background-color: #50b1ce96;
  color: rgb(55, 55, 55);
}

mat-card-title, mat-card-subtitle {
  margin-bottom: 5px;
}

.full-width {
  width: 100%;
}


.full-width mat-form-field{
  width: 65%;
}

/* .formFood {
  min-width: 150px;
  max-width: 500px;
  width: 70%;
  height: 60px;
  margin-right: 8px;

} */

mat-icon  {
  vertical-align: middle;
}

@media (min-width: 940px) {
  .food-card {
    margin: 15px;
    width: 500px;
  }

}

