<mat-card class="food-card" *ngFor="let dayOrder of order.daysOrder" [style]="{'border-right': '5px solid'+dayOrder.category.color}">
    <mat-card-title-group>
      <mat-card-title><h4>{{dayOrder.food.title}}</h4></mat-card-title>
      <mat-card-subtitle>{{dayOrder.food.description}}</mat-card-subtitle>
      <mat-card-title><h4>$650</h4></mat-card-title>

        <img *ngIf="dayOrder.food.urlImage" mat-card-md-image src="{{URLAPI}}{{dayOrder.food.urlImage}}" class="foodCard">
        <img *ngIf="!dayOrder.food.urlImage" mat-card-md-image src="../../../../../assets/meal2.png" class="foodCard">

    </mat-card-title-group>
      <mat-card-actions align="end">
        <form class="example-form" >
          <mat-form-field class="example-full-width">
            <mat-label>Observaciones</mat-label>
            <input matInput placeholder="Aclaración sobre algún ingrediente" (value)="dayOrder.observation" [disabled]="dayOrder.cant < 1">
          </mat-form-field>
        </form>
        <div class="cant">
          <button mat-icon-button aria-label="Clear" (click)="dayOrder.cant=dayOrder.cant-1" class="removeButton" [disabled]="dayOrder.cant < 1">
            <mat-icon>remove</mat-icon>
          </button>
          <span class="center">{{dayOrder.cant}}</span>
          <button mat-icon-button aria-label="Clear" (click)="dayOrder.cant=dayOrder.cant+1">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card-actions>

  </mat-card>