.stepper {
    margin-bottom: 40px;
  }


  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  @media (max-width: 600px) {
    .stepper {
      margin-left: -20px;
    }
    .cardSuccess {
      max-width: 550px;
    }
  
  }
  
.cardSuccess {
  max-width: 450px;
  width: 100%;
  margin-top: 20px;

}


  