<h1 class="title-component">Realizar un pedido</h1>

 <div *ngIf="orderInProgress">
  <mat-stepper  linear #stepper
    class="stepper"
    [orientation]="(stepperOrientation | async)!">
     <mat-step label="¿En qué fecha vas a pedir?" [completed]="firstStepCompleted">
      <h4>Para comenzar, elegí el rango de fecha que queres pedir</h4>

      <div class="select-date">
        <mat-form-field appearance="fill">
          <mat-label>Ingrese el rango de fechas</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [min]="minDate">
            <input matStartDate formControlName="start" placeholder="Desde">
            <input matEndDate formControlName="end" placeholder="Hasta" (dateChange)="onDateChange($event)">
          </mat-date-range-input>
          <mat-hint>DD/MM/AAAA – DD/MM/AAAA</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="range.controls['start'].hasError('matStartDateInvalid')">Fecha de inicio inválida</mat-error>
          <mat-error *ngIf="range.controls['end'].hasError('matEndDateInvalid')">Fecha de fin inválida</mat-error>
        </mat-form-field>
      </div>
      
    </mat-step>
    <mat-step label="¿Qué menú vas a elegir?">
      <h4>A continuación, seleccioná el menú que vas a pedir y la cantidad de viandas para cada día</h4>
      <app-order-categories *ngIf="categories"
        [categories]="categories"
        (selectCategory)="selectCategory($event)"
        (selectPersonalize)="selectPersonalize($event)"
        (viewDetailsPersonalize)="onViewDetailsPersonalize($event)"
        (viewDetailsCategory)="onViewDetailsCategory($event)"
        (cantEmit)="onSetCant($event)">
        </app-order-categories>
    </mat-step>
    <mat-step label="Verifica los platos y las cantidades">
      <h4>Repasá las viandas propuestas para cada día y personalizá la cantidad que queres</h4>
      <app-list-food *ngIf="order" 
        [order]="order"
        [editAddress]="false">
      </app-list-food>
    </mat-step>
    <mat-step label="Dirección de entraga y confirmar el menú">
      <h4>Por último, elegí la dirección donde querés que entregemos las viandas y confirmá tu pedido</h4>

      <app-finish-order *ngIf="viewOrderByDay"
        [order]="order"
        [client]="client"
        [selectedAdress]="selectedAdress"
        [daysOfMonth]="daysOfMonth"
        (getClient)="onGetClient()"
        (selectedAddressEmit)="onChangeAddress($event)">
      </app-finish-order>
    </mat-step>
  </mat-stepper>

  <app-resume-order [isDisabledNext]="disableNextButton" 
    [isDisabledBack]="disableBackButton"
    [finishButton]="finishButton"
    (stepComplete)="onStepComplete(stepper._getFocusIndex()); stepper.next()"
    (stepBack)="onClickBack(stepper._getFocusIndex()); stepper.previous()"
    ></app-resume-order>
</div>

<div *ngIf="orderSuccess" >
  <div class="container-fluid" align="center">
    <mat-card class="cardSuccess" >
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-success messaggeSuccess="Muchas gracias por su orden" messaggeSuccess2="A continuación, envíe el siguiente mensaje de WhatsApp para coordinar el pago"></app-success>
      </mat-card-content>
        <span>Mensaje: {{textWhatsApp}}</span>
      <mat-card-actions>
        <a href="{{'https://api.whatsapp.com/send?phone=5493434549868&text='+textWhatsApp}}"><button mat-raised-button class="button" >Enviar mensaje de WhatsApp</button></a>
      </mat-card-actions>
    </mat-card> 
  <div>
</div>