<div class="container-fluid">
    <mat-card class="card">
        <mat-card-header class="text">
            <mat-card-title>Mis direcciones 
                <mat-icon #tooltip="matTooltip"
                matTooltip="Haciendo click en la estrella, podrá establecer un domicilio como favorito para que sea utilizado por defecto en las ordenes realizadas"
                matTooltipPosition="below"
                aria-label="">info</mat-icon>
            </mat-card-title>
        </mat-card-header>
        <hr>
            <div *ngIf="client">
                <app-address [client]="client" 
                    [selectionableAddress]="false" 
                    (getClient)="getClientByIdUser()">
                </app-address>
            </div>

    </mat-card>
</div>
