<mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="onClickOk()" type="submit" class="btn-primary btn-azul"
          [disabled]="date == null">
          <mat-icon>check</mat-icon> Ok
        </button>

        <div class="table-day" *ngIf="viewDay">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table-day">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy' }}  </td>
          </ng-container>
      
          <ng-container matColumnDef="food">
            <th mat-header-cell *matHeaderCellDef> Plato </th>
            <td mat-cell *matCellDef="let element"> {{element.food.title}} </td>
          </ng-container>
      
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Categoria </th>
            <td mat-cell *matCellDef="let element"> {{element.category.title}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button (click)="onClickChange(element)">Cambiar</button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div *ngIf="viewFood" class="select-food">
        <p>   Cambiando el plato <strong>{{day.food.title}}</strong></p>
      <mat-form-field appearance="fill" >
        <mat-label>Plato</mat-label>            
        <mat-select [(ngModel)]="food"  >
          <mat-option *ngFor="let food of listFood" [value]="food">
            {{food.title}}
          </mat-option>
        </mat-select>
      </mat-form-field> 
    </div>


</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-button color="primary" (click)="onClickCancel()">
        <mat-icon>clear</mat-icon> CANCELAR
    </button>
    <button mat-raised-button color="primary" (click)="onClickSave()" type="submit" class="btn-primary btn-azul"
        [disabled]="food == null">
        <mat-icon>save</mat-icon> GUARDAR
    </button>

</mat-dialog-actions>