<h3 *ngIf="data.actionForm == 'Alta'" mat-dialog-title align="center">Hola {{userProfile?.firstName}}! Por favor, ingresá tus datos de contacto</h3>

<mat-dialog-content>

    <form [formGroup]="form" (ngSubmit)="onClickSave()" id="myform" #f="ngForm">
        <input type="hidden" formControlName="id" />

        <mat-form-field appearance="fill" #phone_primay>
            <mat-label>Teléfono</mat-label>
            <input type="number" matInput formControlName="phone_primay" name="phone_primay"
                id="phone_primay" #phone_primay placeholder="Teléfono" required />
            <mat-hint *ngIf="form!.controls['phone_primay']!.touched && form!.controls['phone_primay']!.invalid"
                class="error-input">
                Este campo es requerido</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" #phone_secondary>
            <mat-label>Teléfono secundario</mat-label>
            <input type="number" matInput formControlName="phone_secondary" name="phone_secondary"
                id="phone_secondary" #phone_secondary placeholder="Teléfono secundario"  />
        </mat-form-field>

        <mat-form-field appearance="fill" #street>
            <mat-label>Calle</mat-label>
            <input type="text" matInput formControlName="street" name="street"
                id="street" #street placeholder="Calle" required />
                <mat-hint *ngIf="form!.controls['street']!.touched && form!.controls['street']!.invalid"
                class="error-input">
                Este campo es requerido</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" #number>
            <mat-label>Número</mat-label>
            <input type="number" matInput formControlName="number" name="number"
                id="number" #number placeholder="Número" />
        </mat-form-field>

        <mat-form-field appearance="fill" #floor>
            <mat-label>Piso</mat-label>
            <input type="floor" matInput formControlName="floor" name="floor"
                id="floor" #floor placeholder="Piso" />
        </mat-form-field>

        <mat-form-field appearance="fill" #departament>
            <mat-label>Departamento</mat-label>
            <input type="departament" matInput formControlName="departament" name="departament"
                id="departament" #departament placeholder="Departamento" />
        </mat-form-field>
       
    </form>

</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-button color="primary" (click)="onClickCancel()">
        <mat-icon>clear</mat-icon> CANCELAR
    </button>
    <button mat-raised-button color="primary" (click)="onClickSave()" type="submit" class="btn-primary btn-azul"
        [disabled]="form.status == 'INVALID'">
        <mat-icon>save</mat-icon> GUARDAR
    </button>

</mat-dialog-actions>