
    <h3>Seleccione las direcciones que desee asignar a la tanda:</h3>

    <div class="div-address">
        <div *ngFor="let client of listClient">
            <mat-card class="card" *ngFor="let address of client.addresses">
                <mat-card-content>
                    <p>
                        <mat-checkbox (click)="addAddressToList(address)">{{client.name}}  {{client.lastName}} - {{address.street}}
                            {{address.number}} {{address.floor}} {{address.departament}}
                        </mat-checkbox>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <hr>
    <div align="center">
        <button mat-raised-button color="primary" (click)="onClickAssign()" class="btn-primary btn-azul"
            [disabled]="listIdAddress.length == 0 || tanda.id == null">
            <mat-icon>save</mat-icon> ASIGNAR
        </button>
    </div>