table{
    width: 100%;
}

.mat-form-field{
    font-size: 14px;
    width: 300px;
}

.button-container {
    padding-bottom: 16px;
    margin-top: 10px;
}

.actions-button-container button {
  margin-right: 10px;
}

.mat-row:hover {
    background-color: rgba(65, 65, 65, 0.07);
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
  }
  .hidden{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
  }

  .table-width-food {
    width: 100%;
}

.title-component{
  text-align: center;
  margin-top: 10px;
}
.checkbox{
  margin: 5px;
}

.orders-card {
  max-width: 450px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  background: #eee;
}

.spacer {
  flex: 1 1 auto;
}

.inline {
  display: -webkit-inline-box;
  width: 100%;
  display:flex;

}

.mat-standard-chip {
  min-height: 18px !important;
  margin-right: 0px !important;
  font-size: smaller;
}

.paid-order{
  background-color: #007f5f89;
  color: rgb(55, 55, 55);
}
.cancel-order{
  background-color: #c700008d;
  color: rgb(55, 55, 55);
}
.impaid-order{
  background-color: #cc3df48a;
color: rgb(55, 55, 55);
}
.active-order{
  background-color: #50b1ce96;
  color: rgb(55, 55, 55);
}
.finalice-order{
  background-color: #ffc1078a;
  color: rgb(55, 55, 55);
}

@media (min-width: 940px) {
  .orders-card {
    max-width: 100%;
    width: 100%;
    background: #eee;
  }


}