<div class="container-fluid">
    <h1 class="title-component">Administrar Ordenes</h1>

    <div [hidden]="viewDetails">
        <div class="search">

            <mat-form-field appearance="fill">
                <mat-label>Ingrese el rango de fechas</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate [(ngModel)]="request.dateStart" placeholder="Desde">
                    <input matEndDate [(ngModel)]="request.dateEnd" placeholder="Hasta">
                </mat-date-range-input>
                <mat-hint>DD/MM/AAAA – DD/MM/AAAA</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

            </mat-form-field>
            <mat-checkbox [(ngModel)]="request.paid" class="checkbox"
                [ngModelOptions]="{standalone: true}">Pagadas</mat-checkbox>
            <mat-checkbox [(ngModel)]="request.notPaid" class="checkbox" [ngModelOptions]="{standalone: true}">No
                Pagadas</mat-checkbox>
            <mat-checkbox [(ngModel)]="request.active" class="checkbox"
                [ngModelOptions]="{standalone: true}">Activas</mat-checkbox>
            <mat-checkbox [(ngModel)]="request.cancel" class="checkbox"
                [ngModelOptions]="{standalone: true}">Canceladas</mat-checkbox>
            <mat-checkbox [(ngModel)]="request.finished" class="checkbox"
                [ngModelOptions]="{standalone: true}">Finalizadas</mat-checkbox>


            <button mat-raised-button (click)="onClickSearch()" title="Buscar ordenes" class="button">
                <mat-icon>search</mat-icon>Buscar
            </button>
            <button mat-button (click)="reset()">Limpiar filtros</button>

        </div>

        <mat-form-field appearance="standard">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="onSearch($event)" placeholder="" #input>
        </mat-form-field>

        <div class="table-width-food">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <colgroup>
                    <col style="width:'5%'" />
                    <col style="width:'25%'" />
                    <col style="width:'10%'" />
                    <col style="width:'10%'" />
                    <col style="width:'10%'" />
                    <col style="width:'20%'" />
                    <col style="width:'20%'" />

                </colgroup>

                <ng-container matColumnDef="idOrden">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="client">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden"> Cliente </th>
                    <td mat-cell *matCellDef="let element" class="hidden"> {{element.client.name}}
                        {{element.client.lastName}}
                    </td>
                </ng-container>



                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden"> Fecha orden </th>
                    <td mat-cell *matCellDef="let element" class="hidden"> {{element.date | date:'dd/MM/YYYY'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden"> Total </th>
                    <td mat-cell *matCellDef="let element" class="hidden"> ${{element.total}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden"> Estado </th>
                    <td mat-cell *matCellDef="let element" class="hidden"> {{element.status.description }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="paid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden"> Pago </th>
                    <td mat-cell *matCellDef="let element" class="hidden"> {{element.paid ? 'Pagada' : 'Pendiente de pago'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element" class="actions-button-container">
                        <button mat-stroked-button class="button" (click)="onViewDetailsOrder(element)">Ver
                            detalles</button>
                        <button mat-stroked-button class="button" (click)="onClickPaid(element)"
                            title="Marcar como pagado" *ngIf="!element.paid">
                            <mat-icon>attach_money</mat-icon>
                        </button>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No se encontró información para "{{input.value}}"</td>
                </tr>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[10, 20, 30, 50]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <div [hidden]="!viewDetails">
        <button mat-raised-button class="button" (click)="onClickBack()" class="button" title="Volver">Volver</button>

        <mat-card class="orders-card" *ngIf="orderDetails">
            <mat-card-subtitle>Transacción #{{orderDetails.id}} </mat-card-subtitle>
            <mat-card-title>Fecha de orden: {{orderDetails.date | date:'dd/MM/YYYY'}}</mat-card-title>
            <div class="inline"> TOTAL ${{orderDetails.total}}
                <span class="spacer"></span>
                <mat-chip-list>
                    <mat-chip *ngIf="orderDetails.status.id == 1" class="active-order">Activa</mat-chip>
                    <mat-chip *ngIf="orderDetails.status.id == 2" class="finalice-order">Finalizada</mat-chip>
                    <mat-chip *ngIf="orderDetails.status.id == 3" class="cancel-order">Cancelada</mat-chip>
                    <mat-chip *ngIf="orderDetails.paid" class="paid-order">Pagada</mat-chip>
                    <mat-chip *ngIf="!orderDetails.paid" class="impaid-order">Pendiente de pago</mat-chip>
                </mat-chip-list>
            </div>

            <mat-card-content *ngIf="viewDetails">
                <div *ngIf="orderDetails.observation">Observaciones: {{ orderDetails.observation }} </div>
                <app-list-food [order]="orderDetails" [editAddress]="true" [clientSelected]="clientSelected"
                    (canceledDayOrder)="onCanceledDayOrder($event)">
                </app-list-food>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button class="button" *ngIf="orderDetails.status.id == 1"
                    (click)="onClickCancel(orderDetails.id)" class="button" title="Cancelar Orden">Cancelar Orden</button>

            </mat-card-actions>
        </mat-card>

    </div>
</div>