<h1 mat-dialog-title>{{data.actionForm}} patología</h1>
<mat-dialog-content>

    <form [formGroup]="form" (ngSubmit)="onClickSave()" id="myform" #f="ngForm">
        <input type="hidden" formControlName="id" />

        <mat-form-field appearance="fill" #description>
            <mat-label>Descripción</mat-label>
            <textarea type="text" matInput formControlName="description" name="description"
                id="description" #description placeholder="Ingrese una descripción" rows="3" ></textarea>
        </mat-form-field>

    </form>

</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-button color="primary" (click)="onClickCancel()">
        <mat-icon>clear</mat-icon> CANCELAR
    </button>
    <button mat-raised-button color="primary" (click)="onClickSave()" type="submit" class="btn-primary btn-azul"
        [disabled]="form.status == 'INVALID'">
        <mat-icon>save</mat-icon> GUARDAR
    </button>

</mat-dialog-actions>