
<google-map
[height]="heightMap"
[width]="widthMap"
[zoom]="zoom"
[center]="center"
[options]="options"
(mapClick)="moveMap($event)">
    <map-marker *ngFor="let markerPosition of markerPositions"
        [position]="markerPosition"
        [options]="markerOptions"
        (mapDrag)="addMarker($event)">
    </map-marker>
 <map-polygon [paths]="zonesMap[2]"></map-polygon>
</google-map>
<div class="button-container">
    <button mat-button color="primary" (click)="onClickBack()">
        <mat-icon>keyboard_arrow_left</mat-icon> Atras
    </button>
    <button mat-raised-button color="primary" (click)="onClickValidateeAddress()" class="btn-primary btn-azul">
        Validar
    </button>
    </div>