<mat-card class="card">
    <mat-card-header class="text">
        <mat-card-title>Mis direcciones</mat-card-title>

    </mat-card-header>
    <hr>
    <mat-card-content>

        <div *ngFor="let address of client.addresses">
            <p align="end">
                <mat-icon class="starEnable" *ngIf="address.favourite" fontIcon="star"></mat-icon>
                <mat-icon class="star" *ngIf="!address.favourite" (click)="onClickSetAsFavourite(address)" fontIcon="star" title="Marcar como favorita"></mat-icon>
            </p>
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="header-image" *ngIf="selectionableAddress" (click)="onSelectAddress(address)"> 
                        <mat-icon *ngIf="address.id === selectedAddress?.id" class="check">radio_button_checked</mat-icon>
                        <mat-icon *ngIf="address.id != selectedAddress?.id">radio_button_unchecked</mat-icon>
                    </div>
                <h3>
                    {{address.street}} {{address.number}} {{address.floor}} {{address.departament}}                 
                    <div *ngIf="address.observation.length  > 0">({{address.observation}})</div>
                </h3>
                </mat-card-header>
            </div>
            <div align="end">
                <button mat-raised-button (click)="onClickEditAddress(address)" title="Editar">
                    <mat-icon fontIcon="edit"></mat-icon>
                </button>
                <button mat-raised-button (click)="onClickDeleteAddress(address)" title="Eliminar">
                    <mat-icon fontIcon="delete"></mat-icon>
                </button>
            </div>
            <hr>
            
        </div>
        <div align="center">
            <button mat-raised-button (click)="onClickAddAddress()">
                Agregar dirección
            </button>
        </div>
    </mat-card-content>
</mat-card>