<mat-card class="card">
    <mat-card-header class="text">
        <mat-card-title>Direcciones </mat-card-title>
        <button mat-raised-button (click)="onClickAddAddress()">
            <mat-icon fontIcon="add"></mat-icon>
        </button>
    </mat-card-header>
    <hr>
    <mat-card-content>

        <div *ngFor="let address of client.addresses">
            <p>
                <mat-icon class="starEnable" *ngIf="address.favourite" fontIcon="star"></mat-icon>
                <mat-icon class="star" *ngIf="!address.favourite" (click)="onClickSetAsFavourite(address)" fontIcon="star" title="Marcar como favorita"></mat-icon>
                {{address.street}} {{address.number}} {{address.floor}} {{address.departament}}
            </p>
            <p *ngIf="address.observation.length  > 0">
                Indicaciones: {{address.observation}}
            </p>
            <button mat-raised-button (click)="onClickEditAddress(address)" title="Editar">
                <mat-icon fontIcon="edit"></mat-icon>
            </button>
            <button mat-raised-button (click)="onClickDeleteAddress(address)" title="Eliminar">
                <mat-icon fontIcon="delete"></mat-icon>
            </button>
           
            <hr>
        </div>
    </mat-card-content>
</mat-card>