
    <div [ngClass]="{'container-fluid' : selectionableAddress}">

        <div *ngFor="let address of client.addresses">
            <div align="end">
                <mat-icon class="starEnable" *ngIf="address.favourite" fontIcon="star"></mat-icon>
                <mat-icon class="star" *ngIf="!address.favourite" (click)="onClickSetAsFavourite(address)" fontIcon="star" title="Marcar como favorita"></mat-icon>
            </div>
            <mat-card-header [ngClass]="{'address-margin' : selectionableAddress}">
                <div mat-card-avatar align="end" class="header-image" *ngIf="selectionableAddress" (click)="onSelectAddress(address)"> 
                    <mat-icon *ngIf="address.id === selectedAddress?.id" class="check">radio_button_checked</mat-icon>
                    <mat-icon *ngIf="address.id != selectedAddress?.id">radio_button_unchecked</mat-icon>
                </div>
                <mat-card-title> {{address.street}} Nº {{address.number}} </mat-card-title>
                <mat-card-subtitle>
                    <div class="inline">
                    <div *ngIf="address.departament">Dpto: {{address.departament}}</div>
                    <div *ngIf="address.floor">Piso: {{address.floor}} </div>
                </div>
                    <div *ngIf="address.observation.length> 0"> ({{address.observation}})</div>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
            <div align="end">
                <button mat-raised-button (click)="onClickDeleteAddress(address)" title="Eliminar" [disabled]="address.favourite">
                    <mat-icon fontIcon="delete"></mat-icon>
                </button>
                <button mat-raised-button (click)="onClickEditAddress(address)" title="Editar">
                    <mat-icon fontIcon="edit"></mat-icon>
                </button>
            </div>
            </mat-card-actions>
            <hr>
            
        </div>
        <div align="center">
            <button mat-raised-button (click)="onClickAddAddress()" class="button">
                Agregar dirección
            </button>
        </div>
</div>