

.description-category {
    text-align: justify;
}

tr.mat-header-row {
    height: fit-content;
}

tr.mat-row {
    height: fit-content;
}

td.mat-cell:first-of-type{
    vertical-align: middle;
}

td.mat-cell:nth-of-type{
    font-size: large;
}

td.mat-cell{
    padding-top: 5px;
    padding-bottom: 5px;
}

table {
    table-layout: fixed;
  }

.alternate { background-color: #f5f5f5 }

.inner-column {
    font-size: medium;
}

mat-card {
    padding: 0px;
    margin-bottom: 20px;
    background-color: #f5f5f5b7
}

mat-card-header {
    padding-top: 10px;
}


i {
    font-size: small;
}
@media (max-width: 600px) {
    td.mat-cell:first-of-type{
        padding-left: 5px;
    }
  
  }