<div *ngFor="let turn of menuViewer?.turnsViewer" id="menu">
    <mat-card *ngFor="let category of turn.categoryViewer">
        <mat-card-header>
            <mat-card-title [style]="{'color': category.category.color}">
                    Menú {{category.category.title}} 
            </mat-card-title>
            <mat-card-subtitle>
                <div class="description-category">{{ category.category.description }}</div>
            </mat-card-subtitle>
        </mat-card-header>
            <table class="table table-striped" mat-table [dataSource]="category.daysViewer">

                <colgroup>
                    <col style="width:'20%'"/>
                    <col style="width:'80%'"/>
                 </colgroup>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>
                        Fecha
                    </th>
                    <td mat-cell *matCellDef="let food"> 
                        <div>
                            {{getDay(food.date) | slice:0:2}} {{food.date | date: 'dd/MM'}} 
                        </div>
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="foodViewer">
                <th mat-header-cell *matHeaderCellDef>
                    Menú
                </th>
                    <td mat-cell *matCellDef="let food"> 
                        <div class="inner-column">
                            {{food.foodViewer.title}} - <i> {{food.foodViewer.description}} </i>
                        </div>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
    </mat-card>
</div>
