<mat-card class="card">
  <mat-card-title>Tu orden</mat-card-title>
  <div *ngFor="let day of daysOfMonth">
    <mat-divider></mat-divider>
    {{ getDay(day) }} {{ day | date:'dd/MM' }}:
    <mat-card-content>
        <mat-chip-list class="listMenuByDay" *ngFor="let dayOrder of order.daysOrder let i=index">
          <mat-chip *ngIf="((dayOrder.dayFood.date | date:'dd/MM') == (day | date:'dd/MM') && dayOrder.cant > 0)" [style]="{'background-color': dayOrder.dayFood.category.color}">
            {{ dayOrder.cant }} x {{ dayOrder.dayFood.category.title }}
          </mat-chip>
        </mat-chip-list>
    </mat-card-content>
  </div>
</mat-card>

<mat-card *ngIf="!changeAddress" class="card">
  <h2>Domicilio de entrega</h2>

  <mat-card-header>
    <div mat-card-avatar><mat-icon>place</mat-icon></div>
    <mat-card-title>        {{selectedAdress.street}} Nº{{selectedAdress.number}} {{selectedAdress.floor}} {{selectedAdress.departament}}                 
    </mat-card-title>
    <mat-card-subtitle *ngIf="selectedAdress.observation.length  > 0">({{selectedAdress.observation}})</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
      <div align="end">
        <button mat-raised-button (click)="onClickEditAddress()" title="Editar">
          Cambiar
        </button>
      </div>
  </mat-card-actions>
</mat-card>

<div *ngIf="changeAddress" class="card">
  <app-address
              [client]="client" 
              [selectionableAddress]="true"
              (getClient)="onGetClient()" 
              (selectedAddressEmit)="selectedAddress($event)">
          </app-address>

</div>
<mat-card class="card">
  <h2>Dejá tu observación</h2>
  <mat-card-content>
  <form class="formFood" >
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Observaciones</mat-label>
        <textarea matInput placeholder="Aclaraciones generales" [(ngModel)]="order.observation" [ngModelOptions]="{standalone: true}"></textarea>
      </mat-form-field>
    </form>
    <h2>TOTAL ${{ order.total }}</h2>
  </mat-card-content>    
</mat-card>

