.example-card {
    max-width: 500px;
    border-radius: 5px;
  }
  

mat-card-content p {
  text-align: justify;
  text-justify: inter-word;
  overflow: hidden;
  height: 10em;
  font-size: medium;
}

mat-card-actions {
  display:flex;
  align-items: flex-end;
  justify-content:flex-end;
  flex-direction: column;


}

h1 {
  text-align: center;
}
