<div class="container-fluid">
    <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="idTandaSelected">
            <mat-option *ngFor="let tanda of listTanda" [value]="tanda.id">
                {{tanda.description}}
            </mat-option>
        </mat-select>
    </mat-form-field>



    <mat-card class="card" *ngFor="let client of listClient">
        <mat-card-content>
            <p *ngFor="let address of client.addresses">
                <mat-checkbox (click)="addAddressToTanda(address)">{{client.name}} - {{address.street}}</mat-checkbox>
            </p>
        </mat-card-content>
    </mat-card>

    <div class="button-container">
        <button mat-raised-button (click)="onClickAssign()" [disabled]="idTandaSelected == null" class="button">
            Asignar
        </button>
    </div>
</div>